@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #1f2937;
}

header {
  color: #d5d4d8;
  text-align: center;
}

main {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 2em;
  border: 2px #d5d4d8 solid;
  border-radius: 5px;
  padding: 2em;
}

.scheme-container {
  display: flex;
  margin-top: 2em;
}

.color-container {
  flex-grow: 1;
  height: 20em;
  display: flex;
  flex-direction: column;
}

.color {
  height: 90%;
}

.color-code {
  height: 10%;
  flex-grow: 1;
  text-align: center;
  padding: 1em 0;
  color: #d5d4d8;
}

form {
  margin: 1em 0.4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

select {
  background-color: #1f2937;
  color: #d5d4d8;
  padding: 0.5em;
  border-radius: 5px;
}

select:hover {
  cursor: pointer;
  border-color: white;
}

.btn {
  padding: 0.6em 0.8em;
  border: none;
  border-radius: 5px;
}

.btn-dark {
  background-color: #3d4b60;
  color: white;
}

.btn-dark:hover,
.btn-dark:focus {
  outline: 1px white solid;
  cursor: pointer;
}

#color-1 > .color {
  background-color: #f55a5a;
}

#color-2 > .color {
  background-color: #2b283a;
}

#color-3 > .color {
  background-color: #fbf3ab;
}

#color-4 > .color {
  background-color: #aad1b6;
}

#color-5 > .color {
  background-color: #a626d3;
}
